<!DOCTYPE html>
<html>
  <head>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <%#= render 'layouts/navbar' %>
    <br><br><br><br>
      <div class="header center">
        <div class="container">
          <h1>My name is Marcos. Click the button<h1>
          <a href="#" class="btn btn-default btn-lg">this button</a>
        </div>
      </div>

    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
